DJANGO_SECRET_KEY=django-insecure-studyflow-dev-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=studyflow@example.com
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
VAPID_PUBLIC_KEY=BFIhjd8GhfG837G9kmfZH84p-rYfITs_WJyo9DKO4JAnD0l2vynJc4ojTk7wSEze-2Qgd-XerCP1G0x7WRUSmTs
VAPID_PRIVATE_KEY=private_key.pem
VAPID_ADMIN_EMAIL=studyflow@example.com
OPENROUTER_API_KEY=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
che__/
db.sqlite3
.env
*.pyc
studyflow/.env
studyflow/media/
studyflow/runserver.log
studyflow/runserver.err.log
studyflow/runserver_*.log
studyflow/runserver_*.err.log
